body {
  font-family: "Montserrat", sans-serif;
}

.primary-title {
  margin-bottom: 25px;
  font-size: 29px;
  text-align: center;
}

.btns-block {
  display: flex;
  align-items: center;
  gap: 10px;
}
