.QuizList {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding: 80px 15px 15px 15px;
  background: -webkit-linear-gradient(45deg, #040d2c, #462a8b, #c505d6);
  background: linear-gradient(45deg, #040d2c, #462a8b, #c505d6);

  div {
    width: 100%;
    max-width: 300px;

    h1 {
      color: #fff;
    }
  }
  ul {
    color: #ccc;
    margin: 0;
    padding: 25px 0 0 8px;

    li {
      font-size: 20px;
      margin-bottom: 5px;

      a {
        position: relative;
        font-size: 15px;
        text-decoration: none;
        color: #fff;
        padding: 0 20px 10px 0;
        transition-duration: 0.22s;
        transition: opacity 0.22s;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}
