.select {
  margin-bottom: 15px;

  label {
    font-weight: bold;
  }

  select {
    border: 1px solid #bebebe;
    width: 100%;
    height: 2em;
    transition: all 300ms ease-in-out;
    font-weight: bold;
  }
}
