.activeQuiz {
  border: solid 2px #fff;
  border-radius: 4px;
  padding: 20px;

  .questionBlock {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;

    .question {
      width: 85%;
    }

    .answerLength {
      font-size: 13px;
    }
  }
}
