.btn {
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 0.9em;
  transition: opacity 0.3s;
  color: $white;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.btn-primary {
  background-color: #2884f6;
}

.btn-success {
  background-color: rgba(161, 240, 69, 0.7);
}
