.FinishedQuiz {
  border: solid 2px #fff;
  border-radius: 5px;
  padding: 20px;
  color: #fff;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      i {
        margin-left: 10px;
      }
    }
  }

  h1 {
    color: #fff;
    font-size: 25px;
    padding-bottom: 10px;
  }
  p {
    padding-top: 15px;
  }
}

.success {
  color: rgba(161, 240, 69, 0.7);
}
.wrong {
  color: rgba(240, 87, 108, 0.7);
}
