.quizList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  .quizListForm {
    width: 100%;
    max-width: 320px;

    .title {
      font-size: 2.5em;
      margin-bottom: 1.5em;
    }

    .list {
      display: flex;
      flex-direction: column;

      .listItem {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5em;
      }
    }
  }
}
