.finished-quiz {
  @include form-mixin(700px, 2px, $white);
  gap: 15px;

  &__title {
    font-size: 24px;
  }

  .finished-quiz-list {
    @extend %flex-col;
    gap: 5px;
    margin-left: 5px;
    width: 60%;
    font-size: 14px;

    &__item {
      @extend %flex-between-center;
    }
  }

  &__answers {
    font-size: 15px;
  }
}
