.Home {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  padding: 80px 15px 15px 15px;
  background: -webkit-linear-gradient(90deg, #4871b5, #1f4788, #4871b5);
  background: linear-gradient(90deg, #4871b5, #1f4788, #4871b5);

  div {
    width: 100%;
    max-width: 600px;

    h1 {
      color: #fff;
      font-size: 50px;
      margin-bottom: 15px;
    }
    p {
      color: #fff;
      font-size: 25px;
      margin-left: 2px;
    }
  }
}
