.title {
  margin-bottom: 25px;
  font-size: 29px;
}

.authForm {
  width: 100%;
  max-width: 650px;
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 0 15px 15px 15px;

  button {
    margin-top: 15px;
  }

  .link {
    font-size: 13px;
    text-align: center;
    padding-top: 35px;
    transition-duration: 0.1s;
    color: #fff;

    &:hover {
      opacity: 0.9;
    }
  }
}
