.title {
  margin-bottom: 25px;
  font-size: 29px;
}

.authForm {
  width: 40%;
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 0 15px 15px 15px;

  input {
    margin-top: 15px;
  }

  button {
    margin-top: 15px;
  }
}
