.menuToggle {
  position: absolute;
  top: 24px;
  left: 26px;
  z-index: 20;
  transition: transform 0.22s;

  &.open {
    transform: translateX(265px);
  }

  @media (max-width: 450px) {
    transition: none;

    &.open {
      top: 21px;
    }
  }
}
